*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*define 1 rem*/
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar { width: 0 !important }

body {
  font-size: 1.6rem;
  font-family: 'OrenburgC', sans-serif;
  background-color: #c0c0c026 ;
}

.swal2-popup.swal2-modal.swal2-show {
  font-size: 1.4rem;
}

.filepond--root{
  font-size: 1.6rem !important;
}
